<p style="color: green"><%= notice %></p>
<%= render @hole %>
<div>
  <%= link_to "Edit this hole", edit_admin_course_hole_path(@course) %> |
  <%= link_to "Back to holes", admin_course_holes_path(@course) %>
  <%= button_to "Destroy this hole", [:admin, @hole], method: :delete %>
</div>
