<%= form_with(model: [:admin, @course, @scorecard]) do |form| %>
  <h5>
    <%= @course.course_name%>
  </h5>
  <span>New scorecard</span>
  <%= @course.holes.count %> holes
  <% if scorecard.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(scorecard.errors.count, "error") %> prohibited this scorecard from being saved:</h2>
      <ul>
        <% scorecard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= p scorecard.hole_performances.any? %>
    <div>You have access to @course && @user </div>
    <%= form.text_field :course_id %>
    <% @course.holes.order(:hole_number).map do |hole|%>
      <%if hole.hole_number ==1 %>
        <div>
          <%= hole.hole_number %> par <%= hole.par_value %>
        </div>
      <%end%>
    <%end%>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
