<%= form_with(model: [@course, hole], local: true, :html => {:class => "form-control"}) do |form| %>
  <% if hole.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hole.errors.count, "error") %> prohibited this hole from being saved:</h2>
      <ul>
        <% hole.errors.each do |error| %>
          <li><%= error.full_message%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row row-cols-2">
    <div class="col">
      <div class="input-group">
        <span class="input-group-text">Hole #</span>
        <input type="number" class="form-control" name="hole_number" value="<%= hole.hole_number %>" min="1" max="<% hole.course.hole_count%>">
      </div>
      <div class="input-group">
        <span class="input-group-text">Hcap</span>
        <input type="number" class="form-control" name="course_hcap_val" placeholder="yds" value="<%= hole.course_hcap_val %>">
      </div>
      <div class="input-group">
        <span class="input-group-text ">Par
        </span>
        <input type="number" class="form-control" name="par_value" placeholder="yds" aria-label="How hard is this hole compared to the rest?" value="<%= hole.par_value %>">
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <span class="input-group-text ">Tee 1:
        </span>
        <input type="number" class="form-control" name="first_tee_distance" placeholder="yds" aria-label="Tee 1 distance in yards" value="<%= hole.first_tee_distance %>">
        <span class="input-group-text d-none d-sm-inline">yds</span>
      </div>
      <div class="input-group">
        <span class="input-group-text ">Tee 2:
        </span>
        <input type="number" class="form-control" name="second_tee_distance" placeholder="yds" aria-label="Tee 2 distance in yards" value="<%= hole.second_tee_distance %>">
        <span class="input-group-text d-none d-sm-inline">yds</span>
      </div>
      <div class="input-group">
        <span class="input-group-text"> Tee 3:
        </span>
        <input type="number" class="form-control" name="third_tee_distance" placeholder="yds" aria-label="Tee 3 distance in yards" value="<%= hole.third_tee_distance %>">
        <span class="input-group-text d-none d-sm-inline" >yds</span>
      </div>
      <div class="input-group">
        <span class="input-group-text ">
          <label for="Tee4" class="form-label my-auto">Tee 4:</label>
        </span>
        <input type="number" class="form-control" name="fourth_tee_distance" placeholder="yds" aria-label="Tee 4 distance in yards" value="<%= hole.fourth_tee_distance %>">
        <span class="input-group-text d-none d-sm-inline" >yds</span>
      </div>
      <div class="input-group">
        <span class="input-group-text ">
          <label for="Tee5" class="form-label my-auto">Tee 5:</label>
        </span>
        <input type="number" class="form-control" name="fifth_tee_distance" placeholder="yds" aria-label="Tee 5 distance in yards" value="<%= hole.fifth_tee_distance %>">
        <span class="input-group-text d-none d-sm-inline" >yds</span>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-outline-sucess">
    <%= form.submit 'Save' %>
  </button>
<% end %>
