1<div id="<%= dom_id hole %>">
  <p>
    <strong>Hole number:</strong>
    <%= hole.hole_number %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= hole.course_id %>
  </p>

  <p>
    <strong>Par value:</strong>
    <%= hole.par_value %>
  </p>

  <p>
    <strong>Course hcap val:</strong>
    <%= hole.course_hcap_val %>
  </p>

  <p>
    <strong>Center of green:</strong>
    <%= hole.center_of_green %>
  </p>

  <p>
    <strong>Forward tee distance:</strong>
    <%= hole.forward_tee_distance %>
  </p>

  <p>
    <strong>Mid tee distance:</strong>
    <%= hole.mid_tee_distance %>
  </p>

  <p>
    <strong>Long tee distance:</strong>
    <%= hole.long_tee_distance %>
  </p>

  <p>
    <strong>Fourth tee distance:</strong>
    <%= hole.fourth_tee_distance %>
  </p>

  <p>
    <strong>Fifth tee distance:</strong>
    <%= hole.fifth_tee_distance %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= hole.course_id %>
  </p>

</div>
