<div id="<%= dom_id hole %>">
  <p>
    <strong>Hole <%= hole.hole_number %>
    </strong>
  </p>
  <p>
    <strong>Par value:</strong>
    <%= hole.par_value %>
  </p>
  <p>
    <strong>Course hcap val:</strong>
    <%= hole.course_hcap_val %>
  </p>
  <p>
    <strong>Center of green Latitude</strong>
    <%= hole.center_green_lat.to_s %>
  </p>
  <p>
    <strong>Center of green Longitude</strong>
    <%= hole.center_green_long.to_s %>
  </p>
  <p>
    <% if hole.forward_tee_distance %>
      <%= hole.forward_tee_distance %> yds  |
    <%end%>
    <% if hole.mid_tee_distance %>
      <%= hole.mid_tee_distance %> yds |
    <%end%>
    <% if hole.long_tee_distance %>
      <%= hole.long_tee_distance %> yds
    <%end%>
    <% if hole.fourth_tee_distance %>
      |  <%= hole.fourth_tee_distance %> yds
    <%end%>
    <% if hole.fifth_tee_distance %>
      | <%= hole.fifth_tee_distance %> yds
    <%end%>
  </p>
</div>
