<h1 class ="bg:green my-4">
  <h2>
    <%= @course.name %>
    <%= link_to_image("edit_icon.svg", edit_course_path(@course), {title: 'Edit this course'})%>
  </h2>
</h1>
<nav class="my-3">
  <ul class="nav nav-pills">
    <%# I want to collapse this on smallscreens into a snowman icon %>
    <li class="nav-item">
      <%= link_to "External course website", @course.website_url, 
        :title => 'redirect to course\'s main website', 
        :target => '_blank', 
        :class => 'btn btn-primary' %>
    </li>
    <li class="nav-item">
      <%= link_to 'New Hole', new_course_hole_path(@course), 
              :title => "Add a new hole to #{@course.name}", 
        :target => '_blank', 
        :class => 'btn btn-primary' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Back to Course', course_path(@course),
   "
        :target => '_blank', 
        :class => 'btn btn-primary' %>
    </li>
    <%# <% unless @course % >
  <button class="btn btn-md rounded" >
    <%= link_to "Add a new hole", new_course_hole_path % >
  </button>
<% end % > %>
  </nav>
  <ul id="holes" class="list-group">
    <% @course.holes.order("hole_number ASC").each do |hole| %>
      <li class ="list-group-item m-3 rounded">
        <%= render hole %>
      </li>
    <% end %>
  </ul>
  <%= button_to "Back to All courses", courses_path(@course) %>
