<div id="<%= dom_id course %>">
  <p>
    <strong>Hole count:</strong>
    <%= course.hole_count %>
  </p>

  <p>
    <strong>Membership:</strong>
    <%= course.membership %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= course.phone %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= course.website_url %>
  </p>

  <p>
    <strong>Hour open:</strong>
    <%= course.hour_open %>
  </p>

  <p>
    <strong>Hour close:</strong>
    <%= course.hour_close %>
  </p>

  <p>
    <strong>Driving range:</strong>
    <%= course.driving_range %>
  </p>

  <p>
    <strong>Putting green:</strong>
    <%= course.putting_green %>
  </p>

  <p>
    <strong>Chipping area:</strong>
    <%= course.chipping_area %>
  </p>

  <p>
    <strong>Practice bunker:</strong>
    <%= course.practice_bunker %>
  </p>

  <p>
    <strong>Riding cart:</strong>
    <%= course.riding_cart %>
  </p>

  <p>
    <strong>Push cart:</strong>
    <%= course.push_cart %>
  </p>

  <p>
    <strong>Pro shop:</strong>
    <%= course.pro_shop %>
  </p>

  <p>
    <strong>Club rental:</strong>
    <%= course.club_rental %>
  </p>

  <p>
    <strong>Caddie services:</strong>
    <%= course.caddie_services %>
  </p>

  <p>
    <strong>Lessons:</strong>
    <%= course.lessons %>
  </p>

  <p>
    <strong>Locker room onsite:</strong>
    <%= course.locker_room_onsite %>
  </p>

  <p>
    <strong>Shower onsite:</strong>
    <%= course.shower_onsite %>
  </p>

  <p>
    <strong>Lodging onsite:</strong>
    <%= course.lodging_onsite %>
  </p>

  <p>
    <strong>Clubfitting:</strong>
    <%= course.clubfitting %>
  </p>

  <p>
    <strong>Punched greens:</strong>
    <%= course.punched_greens %>
  </p>

  <p>
    <strong>Sanded greens:</strong>
    <%= course.sanded_greens %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= course.street_address %>
  </p>

  <p>
    <strong>Address locality:</strong>
    <%= course.address_locality %>
  </p>

  <p>
    <strong>Address region:</strong>
    <%= course.address_region %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= course.postal_code %>
  </p>

</div>
