<main class="container form-control">
  <%= link_to "Back to courses", courses_path %>
  <%= form_with(model: course) do |form| %>
    <% if course.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row row-cols-2">
      <div class="col">
        <div class="input-group">
          <span class="input-group-text">Course Name</span>
          <%= form.text_field :name, class: "form-control", :value => course.name %>
        </div>
        <div class="input-group">
          <span class="input-group-text">Hole Count</span>
          <%= form.text_field :hole_count, class: "form-control", :value => course.hole_count, :max => course.hole_count,:min => 1  %>
        </div>
        <div class="input-group">
          <span class="input-group-text">Course Website</span>
          <%= form.text_field :website_url, class: "form-control", :value => course.website_url %>
        </div>
        <div class="input-group">
          <span class="input-group-text">ScoreCard image Url</span>
          <%= form.text_field :scorecard_url, class: "form-control", :value => course.scorecard_url %>
        </div>
        <div class="input-group">
          <span class="input-group-text">phone</span>
          <%= form.telephone_field :phone, class: "form-control", :value => course.phone, :placeholder => "123-456-7890", :autocomplete => "tel" %>
        </div>
        <div class="input-group">
          <span class="input-group-text">Street Address</span>
          <%= form.text_field :street_address, class: "form-control", :value => course.street_address,:placeholder => "42 Wallaby Way" %>
        </div>
        <div class="input-group">
          <span class="input-group-text">City</span>
          <%= form.text_field :address_locality, class: "form-control", :value => course.address_locality%>
        </div>
        <div class="input-group">
          <span class="input-group-text">State</span>
          <%= form.text_field :address_region, class: "form-control", :value => course.address_region %>
        </div>
        <div class="input-group">
          <span class="input-group-text">Zipcode</span>
          <%= form.text_field :postal_code, class: "form-control", :value => course.postal_code, :pattern => "[0-9]*" %>
        </div>
        <span class="input-group">
          <span class="input-group-text">Hour Open</span>
          <%= form.number_field :hour_open, class: "form-control", :value => course.hour_open, :min => 0, :max => 23, :step => 1, :placeholder => "8" %>
        </span>
        <span class="input-group">
          <span class="input-group-text">Hour closed</span>
          <%= form.number_field :hour_close, class: "form-control", :value => course.hour_close, :min => 0, :max => 23, :step => 1, :placeholder => "5" %>
        </span>
      </div>
      <div class="col">
        <div>
          <div class="form-check form-switch">
            <%= form.check_box :driving_range, checked: course.driving_range, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Driving Range</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :putting_green, checked: course.putting_green, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Putting green</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :chipping_area, checked: course.chipping_area, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Chipping Area</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :practice_bunker, checked: course.practice_bunker, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Practice Bunker</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :riding_cart, checked: course.riding_cart, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Rental Carts Available</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :push_cart, checked: course.push_cart, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Rental Push Carts Available</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :pro_shop, checked: course.pro_shop, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Pro Shop on Site</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :club_rental, checked: course.club_rental, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Rental Clubs Available</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :caddie_services, checked: course.caddie_services, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Caddie Services Available</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :locker_room_onsite, checked: course.locker_room_onsite, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Locker Room on Site</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :shower_onsite, checked: course.shower_onsite, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Shower on Site</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :lodging_onsite, checked: course.lodging_onsite, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Lodging On Site</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :clubfitting, checked: course.clubfitting, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Club fitting services offered</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :punched_greens, checked: course.punched_greens, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Punched Greens today</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :sanded_greens, checked: course.sanded_greens, class:"form-check-input" %>
            <label class="form-check-label" for="flexSwitchCheckDefault">Sanded Greens</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :membership, checked: course.membership, class:"form-check-input" %>
            <label class="form-check-label" for="membership">Members Only</label>
          </div>
        </div>
        <%= form.submit class:"submit"  %>
      </button>
    </div>
  </div>
  <%# TODO  %>
  <%# first_tee_slope: nil,
      first_tee_rating: nil,
      second_tee_slope: nil,
      second_tee_rating: nil,
      third_tee_slope: nil,
      third_tee_rating: nil,
      fourth_tee_slope: nil,
      fourth_tee_rating: nil,
      fifth_tee_slope: nil,
      fifth_tee_rating: nil, %>
<% end %>
</main>
