<main class="container">
  <%= link_to "Back to courses", courses_path %>
  <%= form_with(model: course) do |form| %>
    <% if course.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
          <% course.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" value="<%= course.name %>">
      <label for="name">Course name:</label>
    </div>
    <div>
      <%= form.label "Course name:", style: "display: inline" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :hole_count, style: "display: inline" %>
      <%= form.number_field :hole_count, min:4, max: 18, placeholder:18 %>
    </div>
    <div>
    </div>
    <div>
      <%= form.label :phone, style: "display: inline" %>
      <%= form.telephone_field :phone %>
    </div>
    <div>
      <%= form.label :website_url, style: "display: inline" %>
      <%= form.text_field :website_url %>
    </div>
    <%= form.text_field :street_address %>
    <%= form.text_field :address_locality %>
    <%= form.text_field :address_region %>
    <%= form.text_field :postal_code %>
    <div>
      <%= form.label :hour_open, style: "display: inline" %>
      <%= form.number_field :hour_open,min: 0, max:23 %>
    </div>
    <div>
      <%= form.label :hour_close, style: "display: inline" %>
      <%= form.number_field :hour_close,min: 0, max:23 %>
    </div>
    <div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="<%=course.driving_range %>">
        <label class="form-check-label" for="flexSwitchCheckDefault">Driving Range</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :putting_green %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Putting green</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :chipping_area %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Chipping Area</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :practice_bunker %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Practice Bunker</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :riding_cart %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Rental Carts Available</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :push_cart %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Rental Push Carts Available</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :pro_shop %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Pro Shop on Site</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :club_rental %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Rental Clubs Available</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :caddie_services %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Caddie Services Available</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :locker_room_onsite %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Locker Room on Site</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :shower_onsite %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Shower on Site</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :lodging_onsite %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Lodging On Site</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :clubfitting %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Club fitting services offered</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :punched_greens %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Punched Greens today</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <%= form.check_box :sanded_greens %>
        <label class="form-check-label" for="flexSwitchCheckDefault">Sanded Greens</label>
      </div>
      <div class="form-check form-switch">
        <%= form.check_box 
          :membership,

          :unchecked :=> course.membership,
          :class=>'form-check-input',
          :id => "membership"%>
        <label class="form-check-label" for="membership">Members Only</label>
      </div>
    </div>
    <%# TODO  %>
    <%# first_tee_slope: nil,
    first_tee_rating: nil,
    second_tee_slope: nil,
    second_tee_rating: nil,
    third_tee_slope: nil,
    third_tee_rating: nil,
    fourth_tee_slope: nil,
    fourth_tee_rating: nil,
    fifth_tee_slope: nil,
    fifth_tee_rating: nil, %>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</main>
