<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<div id="courses">
  <% @courses.each do |course| %>
    <p>
      <%= link_to course.course_name, course %> - <%= course.hole_count%> holes 
      <br/>
      Par <%=course.course_par%>
    </p>
  <% end %>
</div>

<%= link_to "New course", new_course_path %>
