<main class="container mt-3">
  <% if user_signed_in? %>
    <section class="d-flex justify-content-between align-items-baseline shadow p-3 mb-3 bg-body rounded" >
      <h3> Fairway Finder </h3>
      <span>
        <span class="navbar-link d-none d-md-block">
          <% if current_user.avatar_url? %>
            <%= link_to edit_user_registration_path do%>
              <%= image_tag current_user.avatar_url, {title: 'Edit Account', :class => 'rounded-circle' }%>
            <% end %>
          <% else %>
            <%= link_to_image(
              "avatar.png",edit_user_registration_path, {title: 'Edit Account', :class => 'navbar-link rounded-circle' }
            ) %>
          <% end %>
        </span>
        <%= link_to "Logout", destroy_user_session_path	, method: :delete %>
      </span>
    </section>
    <%="Role: #{current_user.role}" %>
    <section>
      <% if current_user.role == "admin" || current_user.role == "dev" %>
        <h1 class="">Manage Courses</h1>
        <%= link_to "Add Course", new_course_path, :class => 'btn btn-warning my-1' %>
        <%= link_to "reduce perms?", current_user.reduce_to_user, :class => 'btn btn-danger my-1 disabled' %>
      <% else %>
        <%= link_to "Add Course", new_course_path, :class => 'btn btn-warning my-1' %>
        <%= link_to "Become Dev?", current_user.elevate_to_dev, :class => 'btn btn-warning my-1 disabled', :title => "disabled for namespace remodelling" %>
        <h1 class="">My Courses</h1>
      <% end %>
      <div class="my-4">
        <div id="courses">
          <% @courses.each do |course| %>
            <div class="d-flex justify-content-between shadow p-3 mb-3 bg-body rounded">
              <dl class="d-flex flex-column " >
                <dt>
                  <%= link_to course.name, course_url(course) %>
                </dt>
                <dd>
                  <%= course.holes.count %> /
                  <%= course.hole_count %> holes | 
                  <% if course.holes.any? %>
                    Par <%= course.par_value %>
                  <% end %>
                </dd>
              </dl>
              <%= link_to "play!", new_course_scorecard_url(course), method: :get,:class => 'btn btn-success my-auto' %>
            </div>
          <% end %>
        </div>
      </section>
    <%  end %>
  </main>
