<%= form_with(model: [:admin, user]) do |form| %>
  <h1>Editing User: <%= user.username %></h1>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label "Leave 3 for user Type id", style: "display: block" %>
    <%= form.number_field :user_type_id %>
  </div>
  <div>
    <%= form.label :handicap, style: "display: block" %>
    <%= form.text_field :handicap %>
  </div>
  <div>
    <%= form.label "street Address", style: "display: block" %>
    <%= form.text_field :street_address %>
  </div>
  <div>
    <%= form.label "City", style: "display: block" %>
    <%= form.text_field :address_locality %>
  </div>
  <div>
    <%= form.label "State", style: "display: block" %>
    <%= form.text_field :address_region %>
  </div>
  <div>
    <%= form.label "Zip code", style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
