<div id="<%= dom_id user %>">
  <section class="d-flex justify-content-between mw">
    <h5 class ="m-3">
      <%= user.full_name %>
    </h5>
    <span class= "">
      <%= link_to_image("edit_icon.svg", edit_admin_user_path(user), {title: 'Edit this user'})%>
    </span>
  </section>
  <details>
    <summary>User Details</summary>
    Username: <%= user.username %>
    <a href="email:<%= user.email %>">
      <%= user.email %>
    </a>
    HCAP: <%= user.handicap %>
    <address>
      <%= user.street_address %> <br>
      <%= user.address_locality %>,
      <%= user.address_region %>
      <%= user.postal_code %>
    </address>
  </details>
</div>
