<div id="<%= dom_id course %>">
  <h2 title="Links externally to course websitle" class ="primary">
    <%= course.course_name %>
    <%= link_to_image("edit_icon.svg", edit_admin_course_path(@course), {title: 'Edit this course'})%>
  </h2>
  <%=  link_to "Course Website", course.website_url %>
  <p>
    <% if course.holes.any? %>
      <%= course.hole_count.to_s+" hole" %>
    <% end %>
    <% if course.holes.count == course.hole_count %>
      - Par <%=course.course_par  %>
    <% end %>
    <br>
    <%= course.hour_open %>am to <%= course.hour_close %>pm
  </p>
  <address class= "course-addr">
    <%= course.street_address %><br>
    <%= course.address_locality %><br>
    <%= course.address_region %>,
    <%= course.postal_code %><br>
    <a href="tel:<%= course.phone %>"><%= course.phone %> </a>
  </address>
  <details>
    <summary>Course Features</summary>
    <ul>
      <%if course.membership?%>
        <li>Course membership</li>
      <% end %>
      <%if course.driving_range?%>
        <li>Driving Range</li>
      <% end %>
      <% if course.putting_green? %>
        <li>
          Putting Green
        </li>
      <% end %>
      <% if course.chipping_area? %>
        <li>
          Chipping Area
        </li>
      <% end %>
      <% if course.practice_bunker? %>
        <li>
          Practice Bunker
        </li>
      <% end %>
      <% if course.riding_cart? %>
        <li>
          Rental Golf Carts
        </li>
      <% end %>
      <% if course.push_cart? %>
        <li>
          Push carts for rent
        </li>
      <% end %>
      <% if course.pro_shop? %>
        <li>
          Stocked Pro shop
        </li>
      <% end %>
      <% if course.club_rental? %>
        <li>
          Club Rental
        </li>
      <% end %>
      <% if course.caddie_services? %>
        <li>
          Caddies available for hire
        </li>
      <% end %>
      <% if course.lessons? %>
        <li>
          Lessons with a PGA Pro
        </li>
      <% end %>
      <% if course.locker_room_onsite? %>
        <li>
          Locker room
        </li>
      <% end %>
      <% if course.shower_onsite? %>
        <li>
          Shower facilities
        </li>
      <% end %>
      <% if course.lodging_onsite? %>
        <li>
          Lodging
        </li>
      <% end %>
      <% if course.clubfitting? %>
        <li>
          Club-fitting services
        </li>
      <% end %>
      <% if course.punched_greens? %>
        <li>
          Players reported punched greens today
        </li>
      <% end %>
      <% if course.sanded_greens? %>
        <li>
          Players have reported sanded greens today
        </li>
      <% end %>
    </ul>
  </details>
  <% if course.holes.any? %>
    <p>
      <ul id="holes" class="list-group">
        <% course.holes.map do |hole| %>
          <li class ="list-group-item m-3 rounded">
            <%= render hole %>
          </li>
        </ul>
      </p>
    <% end %>
    <% if (course.holes.empty? || (course.holes.count < course.hole_count))%>
      <%= link_to "add hole ", new_admin_course_hole_path(@course)%>
    <% end %>
  <% end %>
</div>
