<div id="<%= dom_id course %>">
  <h2 title="Links externally to course websitle" class ="primary">
    <%= course.course_name %>
  </h2>
  <%= link_to "Course Website", course.website_url %>
  <p>
    <%= link_to course.hole_count.to_s+" holes", admin_holes_path %> - Par <%=course.course_par%>
    <%
=begin%>
    for each hole up to hole_count, tell the admin how many holes 
    that are missing and offer a way to edit a specific hole or 
    continually ask for the next hole information OR to save the current holes and pause for now.
    I don't think that I want to make them 
    <%
=end%>
  </p>
  <p>
    <%= course.hour_open %>am to <%= course.hour_close %>pm
  </p>
  <p class= "course-addr">
    <%= course.street_address %>
  </p>
  <p class= "course-addr">
    <%= course.address_locality %>
  </p>
  <p class= "course-addr">
    <%= course.address_region %>
  </p>
  <p class= "course-addr">
    <%= course.postal_code %>
  </p>
  <p>
    <%= course.phone %>
  </p>
  <h4>Course Features:</h4>
  <ul>
    <%if course.membership?%>
      <li>Course membership</li>
    <%end%>
    <%if course.driving_range?%>
      <li>Driving Range</li>
    <%end%>
    <% if course.putting_green? %>
      <li>
        Putting Green
      </li>
    <%end%>
    <% if course.chipping_area? %>
      <li>
        Chipping Area
      </li>
    <%end%>
    <% if course.practice_bunker? %>
      <li>
        Practice Bunker
      </li>
    <%end%>
    <% if course.riding_cart? %>
      <li>
        Rental Golf Carts
      </li>
    <%end%>
    <% if course.push_cart? %>
      <li>
        Push carts for rent
      </li>
    <%end%>
    <% if course.pro_shop? %>
      <li>
        Stocked Pro shop
      </li>
    <%end%>
    <% if course.club_rental? %>
      <li>
        Club Rental
      </li>
    <%end%>
    <% if course.caddie_services? %>
      <li>
        Caddies available for hire
      </li>
    <%end%>
    <% if course.lessons? %>
      <li>
        Lessons with a PGA Pro
      </li>
    <%end%>
    <% if course.locker_room_onsite? %>
      <li>
        Locker room
      </li>
    <%end%>
    <% if course.shower_onsite? %>
      <li>
        Shower facilities
      </li>
    <%end%>
    <% if course.lodging_onsite? %>
      <li>
        Lodging
      </li>
    <%end%>
    <% if course.clubfitting? %>
      <li>
        Club-fitting services
      </li>
    <%end%>
    <% if course.punched_greens? %>
      <li>
        Players reported punched greens today
      </li>
    <%end%>
    <% if course.sanded_greens? %>
      <li>
        Players have reported sanded greens today
      </li>
    <%end%>
  </ul>
</div>
