<main class="container">
  <p style="color: green"><%= notice %></p>
  <h1 class="">Manage Courses</h1>
  <section class="d-flex justify-content-between my-3">
    <%= link_to "New course", new_admin_course_path %>
    <%= link_to "Manage Users", admin_users_path%>
  </section>
  <div id="courses">
    <% @courses.each do |course| %>
      <dl>
        <dt>
          <%= link_to course.course_name, [:admin, course] %>
        </dt>
        <dd>
          <%= course.holes.count%> /
          <%= course.hole_count%> holes added | 
          <% if course.holes.any? %>
            Par <%=course.course_par%>
          <% end %>
        </dd>
        <hr/>
      </dl>
    <% end %>
  </div>
</main>
