<main class="container">
  <section class="d-flex justify-content-between align-items-baseline">
    <% if user_signed_in? %>
      <h3> Fairway Finder </h3>
      <span>
        <span class="navbar-link d-none d-md-block">
          <% if current_user.avatar_url? %>
            <%= image_tag current_user.gravatar_url %>
          <% else %>
            <%= image_tag "https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" %>
          <% end %>
        </span>
        <%= link_to_image("edit_icon.svg", edit_user_registration_path, {title: 'Edit Account', :class => 'navbar-link' })%>
        <%= link_to "Logout", destroy_user_session_path	, method: :delete  %>
      </span>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </section>
  <% if user_signed_in? %>
    <h1 class="">Manage Courses</h1>
    <div id="courses">
      <%if current_user.admin? %>
        <%= link_to "Create new course", new_admin_course_path %>
      <%end%>
      <% @courses.each do |course| %>
        <dl>
          <dt>
            <%= link_to course.course_name, [:admin, course] %>
          </dt>
          <dd>
            <%= course.holes.count%> /
            <%= course.hole_count%> holes added | 
            <% if course.holes.any? %>
              Par <%=course.course_par%>
            <% end %>
          </dd>
          <hr/>
        </dl>
      <% end %>
    </div>
  <%  end %>
</main>
