<h2>New user sign up</h2>
<%= render "users/shared/links" %>
<hr/>
<%= form_for(resource, as: resource_name, 
url: registration_path(resource_name), 
data: { turbo: false }) do |form| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <% unless user_signed_in? %>
    <div class="field">
      <%= form.label :email %><br />
      <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name, autocomplete: "given-name" %>
  </div>
  <div class="field">
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name, autocomplete: "family-name" %>
  </div>
  <div class="field">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username,autofocus: true, autocomplete: "username" %>
  </div>
  <div class="field">
    <%= form.label :role, style: "display: block" %>
    <%# <%= form.collection_select :role[current_user], User.roles, :to_s, :to_s, autocomplete: "username" %> %>
  </div>
  <div class="field">
    <%= form.label :handicap, style: "display: block" %>
    <%= form.text_field :handicap %>
  </div>
  <div class="field">
    <%= form.label "street Address", style: "display: block" %>
    <%= form.text_field :street_address, autocomplete: "street_address" %>
  </div>
  <div class="field">
    <%= form.label "City", style: "display: block" %>
    <%= form.text_field :address_locality, autocomplete: "address-line2" %>
  </div>
  <div class="field">
    <%= form.label "State", style: "display: block" %>
    <%= form.text_field :address_region, autocomplete: "address-level1"  %>
  </div>
  <div class="field">
    <%= form.label "Zip code", style: "display: block" %>
    <%= form.text_field :postal_code, autocomplete: "postal-code" %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions mt-3">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
